body {
background-image: url(IMG/Resources/PcTechLogoBck.png);
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.header-image {
    width: 100px;
    height: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 10px;
    list-style: none;
}

.navbar-nav li a {
    font-family: 'Belleza', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .navbar-nav li {
        margin: 0;
    }

    .navbar-nav li a {
        font-size: 14px;
    }
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.static-image {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: auto;
}

.container {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2px;
    margin-top: 20px;
    border-radius: 20px;
}

.container h1 {
    color: #ffffff;
    font-size: 50px; 
    text-align: center;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-info {
    display: flex;
    flex-direction: row;
}

.container-info p {
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-image {
    width: 35%;
    margin-right: 20px;
    margin-top: -2.5%;
}

.container-image img {
    width: 100%;
}

.container-image p {
    text-align: center; 
    font-size: 34px; 
    position: absolute;
    bottom: -20px; 
    left: 25%; 
    transform: translateX(-50%); 
}


.right-text {
    flex: 1;
    padding: 12 px;
    font-size:  20px;
    color: #ffffff;
    font-family: "Belleza", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
}

.carousel-container {
    width: 100%;
    margin-top: 20px;
    max-height: 1px;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel .slides img {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
}

.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}

.carousel .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel .carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: auto;
}

.aboutbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    margin: 30px;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.text {
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
    font-size: larger;
    padding-bottom: 15px;
}

.tittle {
    text-align: center;
    color: white;
    height: auto;
    width: 490px;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 10px;
    margin: auto;
    font-size: 45px;
    margin-top: 15px;
    
}

.subtitle {
    text-align: left;
    margin-left: 120px;
    font-size: 35px;
}